.profilewrap{
  border:grey solid 1px;
  background-color: white;
}
.aboutwrap{
  border:grey solid 1px;
    background-color: white;
}
.experiencewrap{
  border:grey solid 1px;
  background-color: white;
}

.App{
  background-color: #F5F5F5;
}

