#bckimage{
    width:100%;
    height:100%;
}
#bckDiv{
    height:300px;
}
h3{
    color: black;
}
span{
    color: black;
}
h5{
    color: black;
}
#imageWrapper{
    height:175px !important;
    width:175px !important;
    position: relative;
    top:-100px;
    left:50px;
    margin-right: 0px;
    display:inline-block;
}
#editWrapper{
    display:inline-block;
    position: relative;
}
.profilePic{
    height:10rem !important;
    width:10rem !important;
    margin-left: -10px !important;
    margin-top: -25px !important;
    border-radius: 50%;
    border: 5px solid #ffffff;
}
#profile-image-wrapper{
    position: relative;
}
#bottom-right{
    position: absolute;
    top: 100px;
    right:54px;
    width:auto;
}
#bottom-right > input{
    display: none;
}
#edit-profile-icon{
    color: white !important;
    cursor: pointer;
}
.jumbo{
background-image: url("https://miro.medium.com/max/1124/1*92adf06PCF91kCYu1nPLQg.jpeg");
}
#input-group-dropdown-1{
 background-color:#0073b1 !important;
 color: white;
 height: auto;
 width: auto;
}
.morebtn{
    border: grey 1px solid !important;
    background-color: white !important;
    color: grey !important;
    height: auto !important;
    width: auto !important;
}
.spinner-border{
    width: 7rem !important;
    height: 7rem !important;
    color: #0091CA;
}
.spinnerWrapper{
    position: absolute;;
    top:25%;
    left:40%;
}
.col-2 {
    float: right;
}
.card-header{
    background-color: #DDE7F0 !important;
}
.normalElement {
    margin-top: 50px !important;
    box-shadow: 2px 2px 4px 2px #ccc !important;
    background-color: #ffffff;
    /* box-shadow: .5px 1px grey; */
    position: relative;
    border: 1px grey;
}
#feedMain {
    margin-top: -63px;
}
