
#form{
  height: auto;
  border:grey solid 1px;
  width:auto;
}
.btn:hover
{
background-image:none !important;

}
.btn {
    align-items: flex-start;
    outline-style: solid;
    outline-color: hsl(210, 14%, 83%);
    border: 0;
    /* height:4.5625rem;
    width:4.5rem; */
    cursor: pointer;
  }
  /* Darker background on mouse-over */
  i.btn:hover {
    background: #e7e7e7;
  }
  .btn-post{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif !important;
    color: #666666;
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%) !important;
    outline-style: solid;
    outline-color: hsl(210, 14%, 83%);
    border: 0;
    /* height:4.5625rem;
    width:20.875rem; */
    cursor: pointer;
  }  
  .b {
    font-style: normal;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif !important;
    color: #666666;
    margin-right: 11.5rem;
  }
  .b:hover{
    text-decoration: underline;
    color: #0084C4;
  }
    .btn-post-article {
    font-style: normal;
    /* width:34.375rem;
    height: 2.75rem; */
    background-color: #F3F6F8 !important;
    outline-style: solid;
    outline-color: hsl(210, 14%, 83%);
    border: 0;
  }
  .article-link {
      color: #0084C4;
      font-style: normal;
      float: left;
      font-weight: 550;
  }
  .article-link:hover {
    text-decoration: underline;
    color: #0084C4;
  }
  .btn-post-article i{
      margin-left: 5px;
  }
  .pen{
    float: left;
  }
  .c {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif !important;
    color: #666666;
    margin-right: 21.5rem;
  }