/* .Container {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    margin-top: 100px;
    left: 50%;
} */

  .form-group{
    margin: 0 0 0px !important;
  }
  #Loginbuttons {
    justify-content: space-between;
    padding-top: 20%;
    text-align: center;
  }
  
  .Facebook {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 19px;
    background-color: #3A559F;
    text-decoration: none;
    display: flex;
    justify-content: space-between; /* Added */
    align-items: center;
    font-size: 2vh;
    margin: 4px 2px;
    border-radius: 13px;
    width: 90%;
    height: 8vh;
    color: black;
    padding: 0 2em;
  }
  
  .fa-facebook-square {
    color: white;
    font-size: 4vh;
  }