.sidenews{
    border:grey solid 1px;
    background-color: white;
}
#newsheadline{
    font-weight: bold;
    color: black;
}
.advert{
    border:grey solid 1px;
    background-color: white;
   margin-top: 2rem;
   height: auto;
}
#side-profile-footer{
    border:grey solid 1px;
    background-color: white;  
}